@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #A259FF;
  --color-primary-content: #FFFFFF;
  --color-secondary: #0C8CE9;
  --color-accent: #F24E1E;
  --color-neutral: #2C2C2C;
  --color-neutral-content: #E3E3E3;
  --color-base-100: #1E1E1E;
  --color-base-200: #2C2C2C;
  --color-base-300: #121212;
  --color-base-content: #E3E3E3;
  --color-info: #0C8CE9;
  --color-success: #14AE5C;
  --color-warning: #FFC700;
  --color-error: #F24E1E;

  --rounded-btn: 0.25rem;
  --rounded-box: 0.375rem;
}

.date-input-dark::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.7;
  cursor: pointer;
}
.date-input-dark::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  min-height: 100dvh; 
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
}

.btn {
  @apply relative overflow-hidden h-9 min-h-9;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 
              0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;

  &::before {
    content: "";
    @apply bg-linear-to-b from-transparent from-25% to-black/25 absolute left-0 top-0 size-full;
  }

  &:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
  }
}

.input {
  @apply h-9 min-h-9;
}

.select {
  @apply h-9 min-h-9;
}

.fieldset {
  @apply mb-0;
}

.fieldset-legend {
  @apply mb-0 pb-1;
}

.checkbox {
  @apply rounded;
}

#background {
  @starting-style {
    opacity: 0;
    translate: -10% 0;
  }
}